packages:
  yum:
    git: []
    zip: []
    unzip: []
    libzip-devel: []
    oniguruma-devel: []
    freetype-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    libxml2-devel: []
    libmcrypt-devel: []
    libcurl-devel: []
    openssl-devel: []
    gcc-c++: []
    make: []

commands:
  01-install-libraries:
    command: |
      sudo yum install -y \
        git \
        zip \
        unzip \
        libzip-devel \
        oniguruma-devel \
        freetype-devel \
        libjpeg-turbo-devel \
        libpng-devel \
        libxml2-devel \
        libmcrypt-devel \
        libcurl-devel \
        openssl-devel \
        gcc-c++ \
        make
    test: '[ ! -f "/opt/elasticbeanstalk/support/.post-provisioning-complete" ] && echo "Post provisioning actions not completed." && false || true'
  02-install-php-extensions:
    command: "php -dextension=zip -dextension=mbstring -dextension=gd -dextension=exif -dwith-freetype -dwith-jpeg"
    test: '[ ! -f "/opt/elasticbeanstalk/support/.post-provisioning-complete" ] && echo "Post provisioning actions not completed." && false || true'
  03-install-nodejs:
    command: "curl -sL https://rpm.nodesource.com/setup_16.x | bash - && yum -y install nodejs"
  04-install-composer:
    command: |
      if [ ! -f "/usr/local/bin/composer" ]; then
        curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
        chown -R webapp:webapp /usr/local/bin/composer
        chmod +x /usr/local/bin/composer
      fi
    ignoreErrors: false
